<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
    <style>
        body{
            margin: 0;
        }
    </style>
    {% block css %} {% endblock %}
</head>
<body>
    <div style="height: 48px;background-color: #1b6d85">
        头部菜单
    </div>
    <div>
        <div style="float: left;width: 20%;background-color: #dddddd;height: 500px;">
            菜单
        </div>
        <div style="float: left;width: 80%">
            {% block content %} {% endblock %}
        </div>
    </div>

    {% block js %} {% endblock %}
</body>
</html>